[submodule "lib/vendor/propel"]
	path = lib/vendor/propel
	url = https://github.com/aroncal/Propel.git
	branch = sammic-custom
[submodule "lib/vendor/phing"]
	path = lib/vendor/phing
	url = https://github.com/aroncal/phing.git
	branch = sammic-custom
